:root{
    --bg1:#9b59b6;
    --bg2:#3498db;
    --bg:#d7e1ec;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.container{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(var(--bg1),var(--bg2));
    transition: .3s;
    overflow: hidden;
    position: relative;
}
.container:hover{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background: linear-gradient(var(--bg1),var(--bg2));
}
.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 20px auto;
    cursor: pointer;
    transition: .3s;
}
.container img.active{
    width: 350px;
    height: 450px;
    margin: 0;
    border: 5px solid #fff;
    border-radius: 10px;

}
.container h2{
    color: #fff;
}
.container p{
    color: #fff;
    margin: 0 30px 12px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 12px;
}
.btn-container button{
    height: 35px;
    width: 150px;
    margin-right: 12px;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    transition: .3s;
}
.btn-container button:hover{
    transform: scale(0.95);
}
.icon-social{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(-60px);
    opacity: 0;
    transition:.3s;
    top: 12px;

}
.container:hover .icon-social{
    transform: translateX(0);
    opacity: 1;
}
.icon-social i{
    padding: 12px;
    color: var(--bg1);
    background: #fff;
    border-radius: 50%;
    margin: 5px 0 0 12px;
    cursor: pointer;
    transition: .3s;
}
.icon-social i:hover{
    transform: scale(.95);
}